@charset "UTF-8";
/*==========  Desktop First Method  ==========*/

@media only screen and (min-width : 1930px) {
  .steps__image{
    max-width: 1542px;
  }
}

@media only screen and (min-height : 700px) {
  .intro {
    height: 100vh;
  }
}

@media only screen and (max-width : 1811px) {
  body {
    font-size: 16px;
  }
  .header .box {
    padding: 0;
  }
  .panel {
    padding-right: 0;
  }
  .intro {
    background-position-x: 100%;
  }
  .start {
    padding: 150px 0 120px;
  }
  .number__item {
    font-size: 32px;
  }
  .number__item.active {
    top: 2px;
    font-size: 50px;
  }
  .indicators {
    margin-bottom: 0;
  }
  .indicators__item.active .indicators__txt {
    font-size: 14px;
  }
  .indicators__item.active .indicators__dots {
    margin-top: 10px;
  }
  .steps__image {
    width: 73%;
  }
  .steps__image__small {
    width: 49%;
  }
  .steps-nav__box {
    padding: 30px 20px 30px 0;
  }
  .steps-list {
    padding: 30px 0;
  }
  .accordion_indent {
    padding: 50px 0;
  }
  .steps__box {
    padding: 90px 15px 130px;
  }
  .about {
    padding: 80px 0;
  }
  .about__img {
    margin-top: 50px;
  }
}

@media only screen and (max-width : 1499px) {
  .header {
    padding-top: 30px;
  }
  .intro {
    height: auto;
  }
  .intro .container {
    padding: 210px 15px 350px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro p {
    margin-top: 25px;
  }
  .title__h2 {
    font-size: 28px;
  }
  .steps {
    padding-top: 50px;
  }
  .steps__image {
    width: 68%;
  }
  .steps__image__small {
    width: 40%;
  }
  .steps-nav__img {
    height: 110px;
  }
  .material {
    padding: 70px 70px 30px 40px;
  }
  .material__close {
    width: 20px;height: 20px;
    background-size: contain;
  }
  .material h2 {
    font-size: 30px;
  }
  .info {
    padding-bottom: 60px;
  }
  .info__item {
    height: 510px;
  }
  .info__txt span {
    font-size: 70px;
  }
  .contact {
    padding: 190px 0;
  }
  .footer {
    padding: 60px 0 30px;
  }
  .footer__body {
    margin-top: 40px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .btn {
    padding: 17px 46px;
  }
  .panel {
    margin-left: 50px;
  }
  .nav__item {
    margin-right: 20px;
  }
  .relations__item:not(:last-child) {
    margin-right: 25px;
  }
  .start {
    padding: 100px 0 60px;
  }
  .start__wrap {
    padding-left: 70px;
  }
  .steps__image {
    width: 64%;
  }
  .steps__image__small {
    width: 45%;
  }
  .steps__box {
    max-width: 510px;
    padding: 60px 15px;
  }
  .steps__box h2 {
    font-size: 26px;
  }
  .steps__form {
    margin-top: 30px;
    padding-left: 40px;
  }
  .about {
    padding: 50px 0;
    text-align: center;
  }
  .about .title {
    padding-left: 0;
  }
  .about__txt {
    margin: 30px auto 0;
  }
  .about__txt p:not(:last-child) {
    margin-bottom: 15px;
  }
  .info .row {
    padding: 0 15px;
  }
  .info__item {
    height: 410px;
  }
  .info__txt span {
    font-size: 46px;
  }
  .info__txt p {
    font-size: 14px;
  }
  .modal__header h2 {
    font-size: 30px;
  }
  .modal__box {
    margin: 25px auto;
  }
  .modal__body {
    margin-top: 25px;
  }
}
@media only screen and (min-width : 992px) {
  .steps__wrap {
    max-width: 20%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .steps__image_3{
    display: none;
  }
  .steps-list, .steps-nav {
    min-height: 0;
  }
  .panel {
    display: none;
    margin-left: 0;
    padding: 25px 50px;
    position: absolute;
    top: 0;left: 0;right: 0;
    background: rgba(0, 0, 0, 0.66);
  }
  .nav__list,
  .relations {
    display: block;
  }
  .nav__item {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .nav__link,
  .relations__link {
    opacity: 1;
    color: #fff;
    display: inline-block;
  }
  .relations {
    margin-top: 30px;
  }
  .relations__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .relations__link:before {
    content: none;
  }
  .navbar-toggle {
    display: block;
  }
  .intro .container {
    padding: 190px 15px 320px;
  }
  .title__h2 {
    font-size: 24px;
  }
  .start__wrap {
    padding-left: 0;
  }
  .steps {
    padding: 30px 0 40px;
  }
  .number.steps__wrap {
    padding: 0;
  }
  .number.steps__wrap,
  .indicators,
  .indicators__item {
    width: auto;
  }
  .indicators {
    top: -2px;
    margin-left: 25px;
    position: relative;
  }
  .indicators__item,
  .indicators__dots {
    display: none;
  }
  .indicators__item.active {
    display: block;
  }
  .indicators__txt {
    color: #373737;
    font-size: 16px !important;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .indicators__item:after {
    content: none;
  }
  .steps__body {
    margin-top: 20px;
  }
  .steps__item_1 .steps__image,
  .steps__item_2 .steps__image,
  .steps__item_3 .steps__image,
  .steps__item_4 .steps__image,
  .steps__item_5 .steps__image,
  .steps__item_1 .steps__wrap,
  .steps__item_2 .steps__wrap,
  .steps__item_4 .steps__wrap {
    display: none;
  }
  .steps__item_1 .swiper-container,
  .mobile {
    display: block;
  }
  .container.fx.align-end{
    position: relative;
  }
  .steps__head a.btn {
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
  .steps__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .steps-list {
    padding: 0;
  }
  .steps__item_3 .steps__wrap {
    width: 100%;
    padding: 0;
  }
  .steps-list__link {
    padding: 5px 0;
  }
  .steps-list__link:hover {
    font-weight: normal;
  }
  .material {
    top: 0;
    z-index: 61;
    max-width: 100%;
    background: #fff;
    padding: 0 0 30px;
    min-height: 100%;height: auto;
  }
  .material h2,
  .material__box,
  .back {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 750px;width: 100%;
  }
  .material h2 {
    font-size: 24px;
  }
  .material__box {
    margin-top: 20px;
  }
  .back {
    display: block;
    margin-top: 25px;
  }
  .steps__box {
    max-width: 100%;
    padding: 15px 0 0;
  }
  .steps__form {
    padding-left: 0;
    margin-top: 20px;
  }
  .contact {
    padding: 150px 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .steps-list{
    min-height: 0;
  }


  .steps-nav{
    min-height: 0;
  }

  .indicators.fx{
    margin-left: 5px;
  }
  .steps__head a.btn {
    padding: 17px 24px;
  }
  .panel {
    padding-left: 15px;
  }
  .intro .container {
    padding: 120px 15px 230px;
  }
  .intro h1 {
    font-size: 24px;
  }
  .start {
    padding: 50px 0;
    text-align: center;
  }
  .title__h2 {
    font-size: 24px;
  }
  .start__img {
    display: none;
  }
  .start .row [class*='col'] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .start__wrap {
    margin-top: 25px;
  }
  .start__btn {
    margin-top: 20px;
  }
  .tabs__name {
    font-size: 14px;
    padding: 12px 10px;
  }
  .tabs__item {
    padding-top: 330px;
  }
  .tabs__img {
    height: 300px;
  }
  .info {
    padding-bottom: 30px;
  }
  .info .row [class*='col'] {
    margin-bottom: 6px;
  }
  .info .row .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .info .row .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .info__item {
    height: 310px;
  }
  .footer {
    padding: 30px 0;
  }
  .footer__body {
    display: block;
    text-align: center;
  }
  .footer__politics {
    margin-left: 0;
    margin-top: 20px;
  }
  .dev {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width : 580px) {
  .mobile__btn .btn {
    width: 100%;
    padding: 17px 25px;
  }
  .mobile__btn .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .material__img {
    display: block;
  }
  .contact {
    padding: 120px 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .indicators__txt{
    max-width: 100px;
    text-align: left;
  }
  .swiper-container-horizontal>.swiper-scrollbar {
    width: 85%;
  }
  .steps__item_1 .swiper-slide {
    width: 80% !important;
  }
  .steps__group.row [class*='col'] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .tabs__item {
    padding-top: 250px;
  }
  .tabs__img {
    height: 230px;
  }
  .steps__box h2 {
    font-size: 24px;
  }
  .form__field input {
    height: 60px;
    font-size: 16px;
  }
  .form__btn {
    width: 100%;
    padding: 17px 25px;
  }
  .info .row .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .info__item {
    height: 230px;
  }
  .modal__box {
    padding: 45px 15px;
  }
  .modal__header h2 {
    font-size: 24px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container {
    width: 970px;
  }
  .panel {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
    width: 1170px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
  .container {
    width: 1470px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1812px) {
  .container {
    width: 1782px;
  }
}