{% extends "base.html" %}
{% load staticfiles %}

   {% block main_body %}
              <!-- Intro -->

    <section class="intro">
      <div class="container text-center">
        <h1>Современные интерьерные <br />решения <span class="underlined">из стекла</span></h1>
        <p>Ознакомьтесь с примерами реализации и узнайте стоимость Вашего проекта</p>
        <a href="#start" class="intro__down">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path fill-rule="evenodd"
             d="M16.638,17.136 L31.735,2.130 C32.091,1.777 32.091,1.210 31.735,0.857 C31.380,0.504 30.810,0.504 30.454,0.857 L16.001,15.222 L1.547,0.857 C1.192,0.504 0.622,0.504 0.266,0.857 C0.092,1.030 -0.002,1.263 -0.002,1.490 C-0.002,1.717 0.085,1.950 0.266,2.123 L15.364,17.129 C15.712,17.482 16.289,17.482 16.638,17.136 Z"/>
          </svg>
        </a>
      </div>
    </section>

    <!-- Start -->

    <section class="start" id="start">
      <span class="start__img"></span>
      <div class="container">
        <div class="row fx">
          <div class="col-6">

            <!-- Title -->

            <div class="title">
              <h2 class="title__h2"><span class="underlined">Interior Solution</span> за несколько шагов позволит ознакомиться с элементами и материалами для интерьерных решений</h2>
            </div>

            <!-- Wrap -->

            <div class="start__wrap">
              <p class="start__txt">Выберите нужную комнату, затем элементы из стекла. Ознакомьтесь с доступными вариациями материала и подберите подходящий.</p>
              <div class="start__btn"><a href="#steps" class="btn">Начать</a></div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Steps -->

    <div class="steps" id="steps">
      <div class="box">

        <!-- Head -->

        <div class="steps__head">
          <div class="container fx align-end">
            <div class="number steps__wrap fx align-end">
              <span class="number__item active">1</span>
              <span class="number__item">/ 4</span>
            </div>
            <div class="indicators fx">
              <div class="indicators__item active">
                <p class="indicators__txt">Выбор зоны</p>
                <span class="indicators__dots"></span>
              </div>
              <div class="indicators__item">
                <p class="indicators__txt">Выбор предмета</p>
                <span class="indicators__dots"></span>
              </div>
              <div class="indicators__item">
                <p class="indicators__txt">Выбор стекла</p>
                <span class="indicators__dots"></span>
              </div>
              <div class="indicators__item">
                <p class="indicators__txt">Анкета</p>
                <span class="indicators__dots"></span>
              </div>
            </div>
            <a href="#" id="next_step" class="btn">Далее</a>
          </div>

        </div>

        <!-- Body -->

        <div class="steps__body">

          <!-- Item -->

          <div class="steps__item steps__item_1" style="display: block;">
            <div class="container">

              <!-- Wrap -->

              <div class="steps__wrap steps-nav">
                <div class="steps-nav__box">
                  <div class="steps-nav__item">
                    <a href="" class="steps-nav__link">
                      <span class="steps-nav__txt">Гостинная</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/1-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Кухня</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/2-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Сан узел</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/3-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Спальня</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/4-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Детская</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/5-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Прихожая</span>
                      <span class="steps-nav__img" style="background: url({% static 'img/zones/min/6-min.jpg' %}) center/cover no-repeat;"></span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Slider -->

              <div class="swiper-container sw">
                <div class="swiper-wrapper">

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/1.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Гостинная</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/2.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Кухня</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/3.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Сан узел</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/4.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Спальня</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/5.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Детская</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                  <!-- Item -->

                  <div class="swiper-slide">
                    <a href="#" class="sw__link">
                      <div class="sw-img"><img src="{% static 'img/zones/6.jpg' %}" alt="Фото"></div>
                      <div class="sw__txt">
                        <p>Прихожая</p>
                        <span>Выбрать
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </span>
                      </div>
                    </a>
                  </div>

                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
              </div>

              <!-- Image -->

              <div class="steps__image" style="background: url({% static 'img/zones/1.jpg' %}) center/cover no-repeat;"></div>

            </div>
          </div>

          <!-- Item -->

          <!-- Второй шаг (временно пропускаем) -->
          <!--

            <div class="steps__item steps__item_2" style="display: none;">
            <div class="container">

              Wrap

              <div class="steps__wrap steps-nav">
                <div class="steps-nav__box">
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Скандинавский</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Классика</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Лофт</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Прованс</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">Модерн</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                  <div class="steps-nav__item">
                    <a href="#" class="steps-nav__link">
                      <span class="steps-nav__txt">минимализм</span>
                      <span class="steps-nav__img" style="background: url(img/other/steps-nav-1.png) center/cover no-repeat;"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="steps__group row fx-wrap">



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>Скандинавский</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>Классика</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>Лофт</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>Прованс</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>Модерн</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>



                <div class="col-6">
                  <a href="#" class="sw__link">
                    <div class="sw-img"><img src="img/steps/steps-sl-1/1.jpg" alt="Фото"></div>
                    <div class="sw__txt">
                      <p>минимализм</p>
                      <span>Выбрать
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                        </svg>
                      </span>
                    </div>
                  </a>
                </div>

              </div>



              <div class="steps__image" style="background: url(img/steps/2.jpg) center/cover no-repeat;"></div>

            </div>
          </div>

           -->

           <!-- Item -->

          <div class="steps__item steps__item_3" style="display: none;">
            <div class="container alt-row">

              <!-- Wrap -->

              <div class="steps__wrap steps-nav">
                <div class="steps-list">
                  <div class="steps-list__item"><a href="#" class="steps-list__link fasade"><span class="steps-list__txt">Мебель (фасады и вставки)</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link glass-table"><span class="steps-list__txt">Стол из стекла</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link apron"><span class="steps-list__txt">Кухонный фартук</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link servant"><span class="steps-list__txt">Витринная мебель (сервант)</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link wall"><span class="steps-list__txt">Облицовка стены</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link furniture"><span class="steps-list__txt">Облицовка мебели</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link shelf"><span class="steps-list__txt">Полки из стекла</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link tv"><span class="steps-list__txt">Телевизор за стеклом</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link closet"><span class="steps-list__txt">Шкаф-купе</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link mirror"><span class="steps-list__txt">Зеркало</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link glass-furniture"><span class="steps-list__txt">Мебель со стеклом (вставка)/комод</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link partitions"><span class="steps-list__txt">Перегородки</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link pedestal"><span class="steps-list__txt">Прикроватная тумба из стекла</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link doors"><span class="steps-list__txt">Двери</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link glass"><span class="steps-list__txt">Стекло в раме</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link shield"><span class="steps-list__txt">Экран на батарею отопления</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link glass-on-tabel"><span class="steps-list__txt">Стекло на столешницу</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link marker-desk"><span class="steps-list__txt">Маркерная доска из стекла</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link child-furniture"><span class="steps-list__txt">Детская мебель</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link shower-screen"><span class="steps-list__txt">Душевая перегородка</span><i class="plus"></i></a></div>
                  <div class="steps-list__item"><a href="#" class="steps-list__link cupboard"><span class="steps-list__txt">Шкаф</span><i class="plus"></i></a></div>

                </div>
              </div>

              <!-- Image -->

              <div class="steps__image_3">
                <img src="{%  static "img/steps/3.jpg"  %}}" alt="">
                <div id="fasade" class="steps__dot fasade"> <div></div></div>
                <div id="cupboard" class="steps__dot cupboard"> <div></div></div>
                <div id="glass-table" class="steps__dot glass-table"> <div></div></div>
                <div id="servant" class="steps__dot servant"> <div></div></div>
                <div id="apron" class="steps__dot apron"> <div></div></div>
                <div id="wall" class="steps__dot wall"> <div></div></div>
                <div id="furniture" class="steps__dot furniture"> <div></div></div>
                <div id="shelf" class="steps__dot shelf"> <div></div></div>
                <div id="tv" class="steps__dot tv"> <div></div></div>
                <div id="closet" class="steps__dot closet"> <div></div></div>
                <div id="mirror" class="steps__dot mirror"> <div></div></div>
                <div id="glass-furniture" class="steps__dot glass-furniture"> <div></div></div>
                <div id="partitions" class="steps__dot partitions"> <div></div></div>
                <div id="pedestal" class="steps__dot pedestal"> <div></div></div>
                <div id="doors" class="steps__dot doors"> <div></div></div>
                <div id="glass" class="steps__dot glass"> <div></div></div>
                <div id="shield" class="steps__dot shield"> <div></div></div>
                <div id="glass-on-tabel" class="steps__dot glass-on-tabel"> <div></div></div>
                <div id="marker-desk" class="steps__dot marker-desk"> <div></div></div>
                <div id="child-furniture" class="steps__dot child-furniture"> <div></div></div>
                <div id="shower-screen" class="steps__dot shower-screen"> <div></div></div>
              </div>

            </div>
          </div>

          <!-- Item -->

          <div class="steps__item steps__item_4" style="display: none;">
            <div class="container">

              <!-- Wrap -->

              <div class="steps__wrap steps-nav">
                <ul class="accordion accordion_indent">
                {% if glass_elements %}
                    {% for element in glass_elements %}
                      <li style="display: block;">
                        <div class="accordion-header">
                          <span class="steps-list__txt">{{ element.title }}</span><i class="plus"></i>
                        </div>
                        <div class="accordion-body">
                          <div class="bloom">
                            <p class="bloom__txt">Расширение пространства</p>
                            <ul class="bloom__list fx fx-wrap">
                                {% for small_image in element.images.all %}
                              <li class="bloom__item"><a href="#" class="bloom__link"><img src="{{ small_image.sm_image.url }}" alt="Цвет" title="{{ small_image.title }}"></a></li>
                                {%  endfor %}
                            </ul>
                          </div>
                          <p class="details__link fx">
                            <a href="#" class="fx align-center">Подробнее о материале
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path fill-rule="evenodd"
                                 d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"/>
                              </svg>
                            </a>
                          </p>
                          <div class="material__text">
                              <p>{{ element.description|safe }}</p>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                {% endif %}
                </ul>
              </div>

              <!-- Image -->

              <div class="steps__image" style="background: url({% static 'img/steps/4.jpg' %}) center/cover no-repeat;">

                <div class="material">
                  <button class="material__close"></button>
                  <h2><span class="underlined">О материале</span></h2>
                  <div class="material__box"></div>
                </div>
              </div>

              <!-- Mobail -->

              <div class="mobile">
                <div class="tabs">
                  <div class="swiper-container1 sw">
                    <div class="swiper-wrapper">
                      {% if glass_elements %}
                        {% for element in glass_elements %}
                            <div class="swiper-slide tabs__name">{{ element.title }}</div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                  <div class="tabs__content">

                    <!-- Item -->
                    {% if glass_elements %}
                      {% for element in glass_elements %}
                        <div class="tabs__item">
                      <div class="tabs__img" style="background: url({% static 'img/steps/4.jpg' %}) center/cover no-repeat;"></div>
                      <div class="bloom">
                        <p class="bloom__txt">Расширение пространства</p>
                        <ul class="bloom__list fx fx-wrap">
                            {% for small_image in element.images.all %}
                                <li class="bloom__item"><a href="#" class="bloom__link"><img src="{{ small_image.sm_image.url }}" alt="Цвет" title="{{ small_image.title }}"></a></li>
                            {% endfor %}
                        </ul>
                      </div>
                      <p class="details__link fx">
                        <a href="#" class="fx align-center">Подробнее о материале
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                          </svg>
                        </a>
                      </p>
                      <div class="material__text">
                          <p>{{ element.description }}</p>
                      </div>
                    </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="mobile__btn fx fx-wrap">
                  <a href="#" class="btn">Рассчитать стоимость</a>
                  <a href="#" class="btn">Сбросить</a>
                </div>
                <div class="material">
                  <h2><span class="underlined">О материале</span></h2>
                  <div class="material__img"><img src="{% static 'img/steps/1.jpg' %}" alt="Фото"></div>
                  <div class="material__box"></div>
                  <p class="back"><a href="#" class="back__link fx align-center">Назад к выбору материала
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path fill-rule="evenodd" d="M19.226,7.509 C19.226,7.615 19.183,7.711 19.113,7.780 C19.113,7.780 19.113,7.781 19.113,7.781 L12.201,14.687 C12.051,14.837 11.808,14.837 11.658,14.687 C11.584,14.612 11.546,14.514 11.546,14.416 C11.546,14.318 11.584,14.219 11.658,14.144 L17.915,7.893 L1.178,7.893 C0.966,7.893 0.794,7.721 0.794,7.509 C0.794,7.297 0.966,7.125 1.178,7.125 L17.915,7.125 L11.658,0.874 C11.509,0.724 11.509,0.481 11.658,0.331 C11.808,0.182 12.051,0.182 12.201,0.331 L19.112,7.237 C19.182,7.307 19.226,7.403 19.226,7.509 Z"></path>
                    </svg>
                  </a></p>
                </div>
              </div>

            </div>
          </div>

          <!-- Item -->

          <div class="steps__item steps__item_5" style="display: none;">
            <div class="container">

              <!-- Box -->

              <div class="steps__box">
                <h2>Чтобы получить <span class="underlined">расчет стоимости,</span> заполните поля ниже</h2>
                <form action="{% url 'agc-order' %}" method="post" class="steps__form form">
                  <label class="form__field">{{ order_form.first_name }}</label>
                  <label class="form__field">{{ order_form.phone_number }}</label>
                  <label class="form__field">{{ order_form.email }}</label>
                  {{ order_form.zone_name }}
                  {{ order_form.items }}
                  {{ order_form.glass_color }}
                  {{ order_form.glass_name }}
                    {% csrf_token %}
                  <div class="fx align-center">
                  <label class="check__item fx">
                      {{ order_form.check }}
                  </label>
                    <p class="check__txt">Даю согласие на <a class="privacy" href="#">обработку персональных данных</a> и согласен(а) с <a class="privacy" href="#">Политикой конфиденциальности*</a>.</p>
                  </div>
                  <div class="agreement-check fx align-center">
                    <p>Необходимо ваше согласие</p>
                  </div>
                  <button class="btn form__btn">Рассчитать стоимость</button>
                </form>
              </div>

              <!-- Image -->

              <div class="steps__image steps__image__small"></div>

            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- About -->

    <section class="about" id="about">
      <div class="container">

        <!-- Title -->

        <div class="title">
          <h2 class="title__h2"><span class="underlined">О проекте</span> Interior Solutions</h2>
        </div>

        <!-- Txt -->

        <div class="about__txt">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>

        <!-- Img -->

        <div class="about__img"><img src="{% static 'img/other/about.jpg' %}" alt="Фото"></div>

      </div>
    </section>

    <!-- Info -->

    <div class="info" id="info">
      <div class="row fx fx-wrap">

        <!-- Col -->

        <div class="col-6">
          <div class="info__item" style="background: url({% static 'img/other/info-1.png' %}) center no-repeat;">
            <div class="info__txt">
              <span>22</span>
              <p>года безупречного качества</p>
            </div>
          </div>
        </div>

        <!-- Col -->

        <div class="col-3">
          <div class="info__item" style="background: url({% static 'img/other/info-2.png' %}) center no-repeat;">
            <div class="info__txt">
              <span>2800</span>
              <p>тонн стекла производится в год</p>
            </div>
          </div>
        </div>

        <!-- Col -->

        <div class="col-3">
          <div class="info__item" style="background: url({% static 'img/other/info-3.png' %}) center no-repeat;">
            <div class="info__txt">
              <span>23</span>
              <p>Партнеров по миру</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <section class="contact" id="contact">
      <div class="container text-center">
        <div class="title">
          <h2 class="title__h2"><span class="underlined">Свяжитесь с нами</span></h2>
        </div>
        <div class="contact__btn open-modal"><a href="#" class="btn">Написать</a></div>

      </div>
    </section>

   {% endblock %}

   {% block additional_js %}
       <script>
       {% if glass_elements %}
       $('.bloom__link').on('click', function (event){
            event.preventDefault();
            $(this).toggleClass('active');
            let color = $(this).find('img').attr('title');
            switch(color){
              {% for element in possible_colors %}
                  case '{{element.title}}':
                    $('.steps__image').css('background', 'url({{ element.image.url }}) center top / cover no-repeat #fff');
                    $('.tabs__img').css('background', 'url({{ element.image.url }}) center top / cover no-repeat #fff');
                  break
                {% endfor %}
            }
            $('a#next_step').css('display', 'block');
        });
       {% endif %}
       </script>
   {% endblock %}